body{
    background-image: url("../img/Fondo_registro.jpg");
    background-repeat: no-repeat; 
    background-position: 25%,75%;

}



a{
  
    text-decoration: none !important;
    text-transform: uppercase !important;
    display:block !important;
   
}

a:hover{
    color:#0d6efd ;
}


footer{
   margin-top: 60px;
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}

footer img{
    max-width: 100%;
}




.principal{
    background-color: rgba(247,174,157);
    padding: 30px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    max-width:min(90%,500px);
    height: 400px;
    margin:0 auto;
    margin-top: 100px;
    border-radius: 20px;
}

.formulario{
    margin-top: 20px;
}

.campo{
    margin-bottom:20px;
    display:flex;
    
}

.campo input{
    border:none;
    border-radius:10px;
    width: 90%;
    text-transform: uppercase;
    font-weight: 700px;
   
}

.boton{
    display:block;
    border:none;
}

.boton input:hover{
    
    background-color:#0d6efd ;
}


.opciones p{
    display:inline;
}





